body {
    font-family: "Noto Sans";
    font-weight: 300;
    
    font-size: 1.4em;
   
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  nav{
     
    font-size: 23px;
    color:white;
    font-weight: bold;
    }
    .collapse ul.navbar-nav>li>a {
      color: white;
     
     
  }
  
  .collapse ul.navbar-nav>li {
      background-color: #36ABC5;
      margin-left:10px;
      margin-right:10px;
  }
  .content {
    width: 100%;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #bs-example-navbar-collapse-1{

font-family: 'Open Sans';
font-weight: bold
  }
  #entete{
    /* background-color:rgb(6, 21, 22);  */
   padding-top: 2%;
    height:120px;
    margin-top:-2%;
    margin-left:0px;
    width: 100%
}
.error-form{
  color:red;
}
#text-entete{
  margin-left:40%;
  margin-top:-6%;
  font-family: 'Open Sans';
}
  h1, h2, h3, h4, h6,
  .line div {
    font-weight: 800;
    font-family: 'Raleway';
    color: #000;
    margin: 10px 0;
  }
  
  h4 {
    font-size: 26px;
  }
  h1 {
   color: #36ABC5;
   text-decoration: underline;
   font-size: 20px;
  }
  .ges{
    font-family: Trattatello;
    font-size: 40px;
    font-weight: bold;


  }
  
  .input-group .btn {
    height: 40px;
  }
  
  a, .btn {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  
  a {
    color: black;
  }
  a:hover, a:focus {
    color: #C8081C;
  }
  
  section {
    padding-top: 20px;
    padding-bottom: 40px;
  }
   
  
  .form-control {
    border-radius: 0;
    height: 40px;
  }
  .form-control:focus {
    border-color: #989898;
    
  }
  
  .btn {
    font-size: 15px;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: .5px;
  }
  .btn.btn-lg {
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .btn.btn-sm {
    border-radius: 0;
    padding: 5px 10px;
    font-size: 12px;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
  }
  .btn.btn-rounded {
    border-radius: 3px;
  }
  .btn i {
    margin-right: 5px;
  }
  .img{
    border-radius: 50%;
    margin-top:-5%;
    margin-left:10%;
    width:50%;
    height:30%
    
  }
   
  .btn-social {
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-social:hover {
    color: #fff;
    opacity: .8;
  }
  
  .btn-primary {
    background-color:#36ABC5;
    border-color: black;
    border-radius:10px
  }
  .btn-primary:disabled, .btn-primary.disabled, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus {
    background-color: #c8081c;
    border-color: #c8081c;
    box-shadow: none;
    outline: 0;
  }
  .btn-primary:active:hover {
    background-color: skyblue;
  }
  
   
  
  
  .btn-danger:disabled, .btn-danger.disabled, .btn-danger:hover, .btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:focus {
    background-color: #a82315;
    border-color: #a82315;
    outline: 0;
    box-shadow: none;
  }
  .btn-danger:active:hover {
    background-color: #921e12;
  }
  
   
   
  .lien_inscrip{
    font-weight:bold;
    margin-top:10%;
    text-decoration:underline;
    margin-left:60%;
   
  }
  
   
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
  }
   
   
   
  
  .box-wrapper {
    width: 400px;
    margin: 0 auto;
  }
  
  .box {
    /* background-color: rgb(240, 240, 240); */
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border: 2px solid #36ABC5;
  }
  .box.box-border {
    box-shadow: none;
    
  }
  .box .box-body {
    padding: 30px;
  }
  .box .box-body h4 {
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .with-sidebar .sidebar {
      display: none;
    }
    .with-sidebar .has-sidebar {
      padding: 0 20px;
    }
  
    .for-tablet {
      display: block !important;
    }
  
    footer.footer .block {
      margin-bottom: 30px;
    }
    footer.footer .line {
      margin: 0;
      margin-bottom: 30px;
    }
  
    .divider-top {
      margin-top: 50px;
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      right: -320px;
      height: 100%;
      width: 320px;
      z-index: 2001;
      background-color: #fff;
      overflow: auto;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }
    .sidebar.active {
      right: 0;
    }
    .sidebar .sidebar-title {
      margin: 0 -15px;
      
      height: 53px;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      letter-spacing: .5px;
      font-weight: 700;
      line-height: 55px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 30px;
    }
  
    .trending-tags {
      margin-bottom: 20px;
    }
  
    .search-toggle {
      display: none;
    }
  
    nav.menu {
      height: 55px;
    }
    nav.menu .mobile-toggle {
      display: inline-block;
    }
    nav.menu ul.nav-list {
      position: fixed;
      width: 320px;
      height: 100%;
      top: 0;
      right: -320px;
      background-color: #fff;
      z-index: 3000;
      overflow: auto;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }
    nav.menu ul.nav-list.active {
      right: 0;
    }
    nav.menu ul.nav-list li {
      display: block;
      float: none;
      position: static;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    nav.menu ul.nav-list > li:first-child {
      margin-left: 0;
      text-align: center;
      position: relative;
    }
    nav.menu ul.nav-list > li:first-child .back {
      z-index: 9;
      position: absolute;
      height: 100%;
      width: 50px;
      line-height: 55px;
      font-size: 20px;
    }
    nav.menu ul.nav-list > li:first-child a {
      border-bottom: 1px solid #f2f2f2;
    }
    nav.menu ul.nav-list > li:first-child a:after {
      display: none;
    }
    nav.menu ul.nav-list > li > a {
      display: block;
    }
    nav.menu ul.nav-list > li > a .badge {
      right: 10px;
      top: 5px;
    }
    nav.menu ul.nav-list > li .dropdown-menu {
      box-shadow: none;
      position: absolute;
      top: 57px;
      left: initial;
      right: -320px;
      height: calc(100% - 55px);
      height: -webkit-calc(100% - 55px);
      height: -moz-calc(100% - 55px);
      height: -o-calc(100% - 55px);
      width: 320px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      visibility: visible;
      display: none;
      opacity: 1;
    }
    nav.menu ul.nav-list > li .dropdown-menu.active {
      right: 0;
    }
    nav.menu ul.nav-list > li .dropdown-menu > li > a {
      width: auto;
      
    }
    nav.menu ul.nav-list > li .dropdown-menu > li > a:hover:after {
      transform: scale(105);
      -webkit-transform: scale(105);
      -moz-transform: scale(105);
      -o-transform: scale(105);
    }
    nav.menu ul.nav-list > li .dropdown-menu > li ul {
      top: 0;
    }
    nav.menu ul.nav-list > li .dropdown-menu [class^="col-"] {
      margin-bottom: 30px;
    }
  
    header.primary.up {
      top: -286px;
    }
  
    .firstbar {
      text-align: center;
      
    }
    .firstbar .brand {
      float: none;
    }
    .firstbar .brand img {
      float: none;
      display: inline-block;
      margin-bottom: 15px;
    }
    .firstbar .brand h2 {
      display: block;
      float: none;
      border: none;
      margin: 0;
      padding: 0;
      width: initial;
    }
    .firstbar .search {
      margin: 0 70px;
    }
    .firstbar .right {
      float: none;
      display: block;
      margin: 10px auto;
    }
  }
  @media screen and (max-width: 425px) {
    .article-list figure {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
    }
    .article-list .details {
      margin-left: 0;
    }
    .article-list .details .detail {
      display: inline-flex;
      display: -webkit-inline-box;
    }
  
    .line div {
      font-size: 14px;
    }
  
    .featured {
      height: 200px;
    }
    .featured .details h1 {
      font-size: 16px;
    }
    .featured .details .category a {
      padding: 3px 6px;
    }
  
    .firstbar .search {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .topbar .topbar-nav li a i, .topbar ul.info li a i {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      display: block;
      font-size: 22px;
    }
    .topbar .topbar-nav li a span, .topbar ul.info li a span {
      display: none;
    }
  
    .for-mobile {
      display: block !important;
    }
  
    .nav-icons {
      display: none;
    }
  
    .box-wrapper {
      width: 100%;
    }
  
    .box .box-body {
      padding: 20px;
    }
  }
  @media screen and (max-width: 320px) {
    nav.menu ul.nav-list {
      width: 290px;
      right: -350px;
    }
    nav.menu ul.nav-list > li .dropdown-menu {
      width: 290px;
      right: -350px;
    }
  
    .sidebar {
      width: 290px;
      right: -350px;
    }
  
    article figure {
      height: 200px;
    }
  }
  
  